#accountWindow th{
    font-size: 6pt;
    text-align: right;
    
}

#accountWindow {
    border: solid thin #61666d;
    margin-left: 5px;
    height: 64px;
}

#accountWindow td{
    font-size: 6pt;
    text-align: right;
}

.balance{
    font-size: 10pt !important;
    width: 100px;
}

#accountWindow button {
    font-size: 7pt;
    padding: 1px;
    text-transform: uppercase;
}

#accountWindow table{
    float:left;
}

#accountWindow div.floatLeft {
    float: left;
    width: 140px;
}