.depotList{
    overflow: auto;
    height: 280px;
}

.depotViewItem{
    float: left;
    width: 220px;
    padding:5px;
}

.depotView table{
    width: 300px;
    font-size: 8pt;
    text-transform: uppercase;
    border-collapse: collapse;
}

.depotViewData div{
    margin-left: 3px;
}

.depotViewBox{
    width: 220px;
}

.depotList{
    margin-left: -10px;
    margin-top: -10px;
    height: 296px;
}

.depotListItem {
    border: solid thin #61666d;
    margin-bottom: 4px;
    cursor: pointer;
    background-color: #353c47;
    height: 50px;
}


.depotListItem:hover{
    background-color: #47505f;
}

.depotDetails{
    width: 355px;
    height: 280px;
    overflow: auto;
}

.depotDetails span{
    margin-left: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.shortName{
    font-weight: bold;
    padding-right: 5px;
}

.price{
    font-size: 9pt;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;  
    line-height: 1.3em;
}

.priceInfo{
    font-size: 11pt;
    margin-right: 6px;
}

.smallNote{
    font-size: 7pt;
    padding-left: 2px;
    text-align: right;
}

.compName{
    font-size: 8pt;
    margin-left: 2pt;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
}

.sharesAmount{
    font-size: 8pt;
    border: solid thin #61666d;
    background-color: #1b1e24;
    padding: 0px 3px;
    font-weight: bold;
    color: #61666d !important;
    border-radius: 5px;
}

.depotViewDataHeader{
    width: 100%;
}

.depotViewDataBody{
    width: 100%;
    margin-top: 5px;
}

.depotView td:nth-child(2){
    border-right: solid 1px #61666d;
}
.depotViewItem tr{
    border-bottom: solid thin #61666d;
}

.tableSpacer{
    background-color: #61666d;
}

.depotListItemHeader{
    height: 23px;
    font-size: 11pt;
}

.depotListItemHeader .price{
    margin-top: 0;
    padding-top: 0;
}

.depotActionButton{
    width: 148px;
    border-radius: 4px;
    padding:4px;
    margin:4px;
}

.depotDetailInfoHeader{
    font-size: 8pt;
    font-weight: bold;
    text-transform: uppercase;

}