
.tabBoxHeader{
    border-bottom: solid thin #61666d;
    height: 26px;
  }
  
  .tabBoxHeaderItem{
    width: 52px;
    text-align: center;
    cursor: pointer;
    float: left;
    border: solid thin #61666d;
    background-color: #353c47;
    padding: 2px;
    margin-left: 5px;
  }
  
  .tabBoxHeaderItem:hover {
    background-color: #47505f;
    border: solid thin #a7b0bd;
  }

  .tabBoxContent{
      height: 500px;
      overflow: auto;
      width: 600px;
  }

  .taxTableTime{
      text-align: left !important;
      width: 30px !important;
  }

  table.taxTable {
      width: 600px;
      border-collapse: collapse;
      margin-top: 5px;
      font-size: 10pt;
      text-transform: uppercase;
  }

  table.taxTable tr{
      border: solid thin #61666d
  }

  table.taxTable tr:nth-child(even){
    background-color: #353c47;
}

  table.taxTable th, table.taxTable td{
      text-align: right;
      width: 90px;
  }


