
.tabBoxHeader{
    border-bottom: solid thin #61666d;
    height: 26px;
  }
  
  .tabBoxHeaderItem{
    width: 52px;
    text-align: center;
    cursor: pointer;
    float: left;
    border: solid thin #61666d;
    background-color: #353c47;
    padding: 2px;
    margin-left: 5px;
  }
  
  .tabBoxHeaderItem:hover {
    background-color: #47505f;
    border: solid thin #a7b0bd;
  }

  .tabBoxContent{
      height: 260px;
      overflow: auto;
      width: 600px;
  }

  /* TAX TABLE */
  .taxTableTime{
      text-align: left;
      width: 30px !important;
  }

  table.taxTable {
      width: 600px;
      border-collapse: collapse;
      margin-top: 5px;
      font-size: 9pt;
      text-transform: uppercase;
  }

  table.taxTable tr{
      border: solid thin #61666d
  }

  table.taxTable th, table.taxTable td{
      text-align: right;
      width: 90px;
  }

  table.taxTable tbody th{
    text-align: left !important;
  }

  table.taxTable tbody tr:nth-child(odd){
    background-color: #353c47;
  }

  table.taxTable tbody tr:last-child{
    background-color: rgb(55, 58, 63);
  }




.setting table{
  width: 500px;
}

.setting td {
  padding:5px;
}

/*
Numbers
*/
.numTableSpacer{
  background-color: #47505f;
  height: 10px !important;
  padding: 0 !important;
  padding-left: 10px !important;
}
.numbersTable{
  margin:4px;
  font-size: 8pt;
}
.numbersTable td{
  padding:4px;
  text-align: right;
}
.numbersTable th{
  text-align: left;
  padding:4px;
  border-left: solid thin #61666d;
}

/*
 Goals
*/
.goalItem{
  width: 180px;
  border: solid thin #61666d;
  margin: 2px;
  font-size: 10pt;
  height: 130px;
}

.goalItemHeader{
  text-align: center;
  font-weight: bold;
  background-color: #cf9d11;
  height: 36px;
}

.goalItemInfo{
  height: 18px;
 
  border: solid thin #a7b0bd;
  font-size: 8pt;
  vertical-align: middle;
  text-align: center;
}

.goalItemProgress{
  background-color: #3a9e4f;
  border-radius: 3px;
  font-weight: bold;
  height: 18px;
}

.goalItemInfoValue{
  font-size: 8pt;
  vertical-align: middle;
  text-align: center;
  height: 41px;
}

.goalItemPrice{
  border-top: solid thin #61666d;
  font-size: 9pt;
  text-align: center;
  background-color: #47505f;
  height: 32px;
}


/*
  Store
*/
.storeItem{
  margin:2px;
  float:left;
  border: solid thin #61666d;
  height: 165px;
  width: 110px;
  background-color: #47505f;
}

.storeItemHeader{
  width: 104px;
  height: 36px;
  vertical-align: middle;
  padding:3px;
  text-align: center;
  font-size: 9pt;
  font-weight: bold;
}

.storeItemPrice{
  text-align: center;
  padding:3px;
  font-size: 11pt;
}

.storeItemDescription{
  font-size: 8pt;
  padding: 3px;
  text-align: center;
  height: 46px;
}
.storeItemTime{
  font-size: 8pt;
  padding: 3px;
  text-align: center;
}
.storeItemBuy{
 text-align: center;  
}

.storeItemBuy button{
  background-color: #318343;
  width: 104px;
}

.noItemsInStore{
  margin: auto;
  margin-top: 80px;
  text-align: center;
  width: 200px;
  display: block;
  font-size: 14pt;
}

.itemType_1{
  background-color: rgb(190, 138, 238);
}
.itemType_7{
  background-color: rgb(252, 160, 98);
}
.itemType_8{
  background-color: rgb(41, 132, 236);
}
