#reactLog h2{
    padding: 0;
    margin:0;
}

#reactLog{
    width: 245px;
    float:right;
    margin-right: -9px;
    margin-top: -15px;
    padding-left: 5px;
}

.reactLog{
    font-size: 12pt;
    height: 279px;
    overflow: auto;
}

.logmessage{
    font-size: 8pt;
    min-width: 220px;
}

.goal{
    color: rgb(255, 203, 89)
}

.info {
    color: rgb(81, 172, 247)
}

.msg  {
    color: white
}

.income {
    color: #31e649
}
.buy {
    color: #31e649;
    font-style: italic;
}

.out {
    color:rgb(175, 30, 42)
}

.error {
    color:rgb(175, 30, 42);
    text-decoration: underline;
}

.logTimeStamp{
    font-size: 6pt;
}