.globalInfo{
    width: 600px;
}

.sincePotientialTop{
    font-size: 6pt;
    vertical-align: bottom;
}
.marketIcon{
    font-size: 22pt;
}
.sincePotiential{
    font-size: 6pt;
    vertical-align: top;
}

.marketSituation{
    margin-top: -6px;
    width: 90px;
    text-align: center;
}

.helpIcon>path{
    color: rgb(60, 164, 224);
}

.helpButton{
    float: right;
    font-size: 13pt;
    height: 30px;
    width: 30px;
    display: block;
}