

.sincePotientialTop{
    font-size: 6pt;
    vertical-align: bottom;
}
.marketIcon{
    font-size: 22pt;
}
.sincePotiential{
    font-size: 6pt;
    vertical-align: top;
}

.marketSituation{
    margin-top: -6px;
    width: 90px;
    text-align: center;
}