.marketVeryHigh > path{
    color: rgb(55, 212, 34) !important;
}

.marketHigh > path{
    color: rgb(36, 141, 22) !important;
}
.marketEqual > path{
    color: rgb(29, 122, 158)!important;
}
.marketLow > path{
    color: rgb(177, 122, 76)!important;
}
.marketVeryLow > path{
    color: rgb(212, 34, 34)!important;
}

.sincePotientialTop{
    font-size: 6pt;
    vertical-align: bottom;
}
.marketIcon{
    font-size: 22pt;
}
.sincePotiential{
    font-size: 6pt;
    vertical-align: top;
}

.marketSituation{
    margin-top: -6px;
    width: 90px;
    text-align: center;
}