.infoBubbleButton path{
    color: rgb(43, 158, 253) !important;
    font-size: 8pt;
}

.infoBubbleIcon{
    padding-top: 2px;
    padding-left: 5px;
}

.infoBubbleButton{
    font-size: 8pt;
    padding:3px;
    margin:3;
    font-size: 9pt;
    display: flex;
    border: solid thin #61666d;
    background-color: #21262d;
}