.tnBoxContainer{
    position:absolute;
    padding: 5px;
    box-shadow: 5px 5px 32px #111; 
    border: solid thick #61666d;
    background-color: #21262d;
    top: 100px;
    left: 410px;
}

.tnBoxBuyButton {
    background-color: #285e34 !important;
    width: 32px !important;
    height: 32px !important;
    margin:5px;
}

.tnBoxInputResetButton{
    background-color: #acacac !important;
    width: 32px !important;
    height: 32px !important;
    margin:5px;
}

.tnBoxBuyButton:hover {
    background-color: #318343 !important;
}

.tnBoxCloseButton{
    width: 24px !important;
    height: 24px !important;
    margin-left: 10px;
}

.tnBoxCloseButton path{
    color:rgb(117, 30, 30);
}

#tnBox button {
    background-color: #21262d;
    border: solid thin #61666d;
    color: white;
    width: 64px;
    height: 32px;
    cursor: pointer;
}

#tnBox button:hover {
    background-color: #4c5664;
}

.tnBoxHeader{
    font-weight: bold;
}

.tnBoxInput{
    background-color: #21262d;
    border: solid thin #61666d;
    color:white;
    width: 98%;
    height: 32px;
    font-size: 14pt;
    margin-bottom: 4px;
    margin-top: 4px;
}